*{
    background-color: blanchedalmond;
}
body{
    padding-left: 25%;
    padding-top: 5%;
}



#buttons{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 80%;
    gap: 20px;
}

.humanSelection{
    background-color: green;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    border-style: none;
}

.humanSelection:hover{
    background-color: rgb(2, 102, 2);

}